body {
    background: linear-gradient( #adabb3,#7d9fc0);
    min-height: 100vh;
    width: 100%;
    box-sizing:border-box;
    margin:  0;
    padding: 0;
    font-size: 14px;
}
ul,li,h1,h2,h3,h4,h5,h5 {
    margin:  0;
    padding: 0;
}
li {
    list-style: none;
}


@mixin d-play($direction:row,$justContent:center,$allignItems:center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justContent;
    align-items: $allignItems;
}

.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    .header {
        @include d-play(row,space-between, center);
        background-color: #fff;
        height: 70px;
        font-size: 14px;
        padding: 0 60px;
        &-logo {
            font-size: 18px;
            font-weight: bold;
            margin-left: 40px;
        }
        ul {
            @include d-play(row,space-between,center);
            li {
                display: inline-block;
                margin: 20px;
                &:last-child {
                    margin-right: 40px;
                }
            }
             
        } 
        .navMenu {
            @include d-play(column,flex-start,center);
            position: absolute;
            background-color: black;
            color: white;
            top: 0;
            left: -250px;
            width: 200px;
            bottom: 0;
            transition: all 0.5s ease-in-out;
            z-index: 2;
        }
        .active {
           transform: translateX(250px);
        }
    }
    .contant {
         width: 80%;
         margin: 0 auto;
        .item {
            border-radius: 5px;
            overflow: hidden;
            margin: 10px 0px;
            @include d-play(row,space-between, center);
            height: 400px;
            position: relative;
            .description {
               flex: 3;
               height: 100%;
               @include d-play(row,center, center);
               background-color: rgba(255,255,255,0.2);
            }
            .imgwrap {
                flex: 2;
                height: 100%;
                overflow: hidden;
               img {
                width: 100%;
                height: 100%;
                object-fit:cover;
               }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .head1 {
        display: flex
    }
    .head2 {
        display: none !important;
    }
    .item {
        flex-direction: row !important;
        .description {
            height: 100% !important;
            width: unset !important;
        }
        .imgwrap {
            height: 100%  !important;
            width: unset !important;
        }
    }
}

@media screen and (max-width: 750px) {
    .head1 {
        display: none !important;
    }
    .head2 {
        display: flex !important;
    }
    .item {
        flex-direction: column !important;
        .description {
            height: unset !important;
            width: 100% !important;
        }
        .imgwrap {
            height: unset !important;
            width: 100% !important;
        }
    }
}